# Игнорировать все object-файлы
*.o

# Игнорировать бинарник
game_of_life

# Игнорировать временные файлы редакторов
*~
*.swp
*.swo

# Игнорировать каталоги
build/
tmp/

# Игнорировать созданный файл с пустым состоянием
0.txt